/* ejercicio2a.css   sa16032  */
pais {background-color:black;}
departamento {background-color:black; display:block;} 
cabecera {color:green; display:inline;} 
habitantes {color:green; display:inline;}
altura {color:green;font-size:15cm; display:none;}
moneda {color:green; display:inline;}
