/* ejercicio1b.css   sa16032  */
fichero {background-color:black;}
ficha {background-color:black; display:block;} 
nombre {color:green; display:inline;} 
apellido {color:green; display:inline;}
direccion {color:green;font-size:1cm; display:none;}
telefono {color:green; display:inline;} 
email {color:green; display:inline;} 
url {color:green; display:inline;} 
dui {color:green; display:inline;} 
isss {color:green; display:inline;} 
afp {color:green; display:inline;} 